/* Styles from base.html */
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav.nav-masthead {
    white-space: nowrap; /* To stop nav spilling into new line on resizing*/
}

/* Shrink both nav and header equally */
nav.nav-masthead a {
    font-size: 1.2vw; /* Resizes with screen or browser resizing */
    padding: 0.2rem 1rem; 
}

h3 {
    font-size: 2vw; /* Eco Challenge scales with nav */
    margin-right: auto; /* To keep nav aligned top right */
    white-space: nowrap; /* Again, to stop spilling into new line on resizing */
}


@media (max-width: 768px) { /* To deal with resizing browser or viewing on smaller screens */
    nav.nav-masthead a {
        font-size: 1.5vw;
    }

    h3 {
        font-size: 3vw;
    }
}

.jumbotron h1 {
    text-align: left;
  }

a,
a.nav-link {
    color: white !important;    
    font-weight: normal;          
    text-decoration: none !important; 
}

a:hover,
a.nav-link:hover {
    color: rgb(45, 216, 29) !important;
    text-decoration: none !important;
}

.text-white {
    color: white;
}

.text-muted {
    color: white !important;
}

.cover-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 0;
    padding-top: 0;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

/* Styles from Challenges.html */
textarea {
    height: 20px;
}

/* Styles from LeaderBoard.html */
.table-dark {
    margin: 0 auto;
    width: 50%;
}

select {
    font-size: 1.5em;
    padding: 0.5em;
    background-color: #228B22;
    color: white;
}

h1 {
    text-align: center;
}

.leaderboard-container {
    text-align: center;
}

/* Style for EducationalLinks.html (add any particular CSS styling in due course*/
