{% extends 'Eco/base.html' %}
{% load static %}

{% block title_block %}
Account Page
{% endblock %}

{% block body_block %}

<!-- @Colin: Very minor updates, for the sake of visual consistency with the rest of the site-->
<div class="row top-cards">
    <div class="col-lg-4">
        <div class="card mb-4 bg-success bg-opacity-25">
            <div class="card-body text-center text-white">
                {% if user_profile.picture %}
                <img src="{{ user_profile.picture.url }}" alt="avatar" class="rounded-circle img-fluid"
                    style="width: 150px;">
                {% else %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                {% endif %}
                <h5 class="my-3">{{ user.username }}</h5>
                <p class="text-white mb-1">{{ user_profile.website }}</p>
                <p class="text-white mb-4">Points: {{ user_profile.points }}</p>
                <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary" id="update-picture-btn">Update
                        Picture</button>
                    <button type="button" class="btn btn-outline-primary ms-1" id="update-email-btn">Update
                        Email</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-4 bg-success bg-opacity-25">
            <div class="card-body text-white">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{ user.get_full_name }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{ user.email }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Points</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{ user_profile.points }}</p>
                    </div>
                </div> <!-- @Colin: Removed website, as this is no longer used for user registration -->
            </div>
        </div>
    </div>
</div>

<!-- New row for Points Overview and Challenges Logged cards -->
<div class="row">
    <!-- Points Overview card -->
    <div class="col-lg-6">
        <div class="card mb-4 bg-success bg-opacity-25">
            <div class="card-body text-white">
                <p class="mb-4"><span class="text-white font-italic me-1"></span> Points Overview</p>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0" style="font-size: .77rem;">All Time</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{points_all_time}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0" style="font-size: .77rem;">This Year</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{points_year}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0" style="font-size: .77rem;">This Month</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{points_month}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0" style="font-size: .77rem;">This Week</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-white mb-0">{{points_week}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Challenges Logged card -->
    <div class="col-lg-6">
        <div class="card mb-4 bg-success bg-opacity-25">
            <div class="card-body text-white">
                <p class="mb-4"><span class="text-white font-italic me-1"></span> Challenges Logged</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0" style="font-size: .77rem;">Challenge</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="font-size: .77rem;">Date Logged</p>
                    </div>
                </div>
                <hr>
                {% for log_entry in user_challenge_log_entries %}
                <div class="row">
                    <div class="col-sm-6">
                        <p class="text-white mb-0">{{ log_entry.challenge.title }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-white mb-0">{{ log_entry.date_logged }}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal for updating email -->
<div id="update-email-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-email-form" method="post" action="{% url 'Eco:update_email' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">New Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for updating profile picture -->
<div id="update-picture-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-picture-form" method="post" action="{% url 'Eco:update_picture' %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="picture">New Profile Picture:</label>
                        <input type="file" id="picture" name="picture" class="form-control" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Picture</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}