{% extends 'Eco/base.html' %}
{% load static %}
{% block title_block %}
Challenges Page

{% endblock %}
{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Challenges</h1>
    <p class="lead">Browse or search below to take on a new challenge.</p>

    <form method="GET" action="{% url 'Eco:Challenges' %}">
      <div class="input-group" style="max-width: 400px;">  
        <input type="text" name="q" 
               class="form-control form-control-sm bg-dark text-white border-success rounded-pill px-3"
               placeholder="Search for a keyword or phrase" style="color: white" value="{{ query }}"> &nbsp;&nbsp; &nbsp;&nbsp;
        <button type="submit" class="btn btn-success btn-sm rounded-pill px-3">Search Challenges</button>
      </div> <!-- @Colin: Placeholder text is not showing - will fix later-->
    </form>
  </div>
</div>

<div class="container" >
  <div class="row">
    {% for challenge in challenges %}
    <div class="col-md-6 mb-1">
      <div class="card mb-1 bg-success bg-opacity-25" style="height: 200px; transform: scale(0.75)">
        <div class="card-body text-white">
          <h5 class="card-title text-white">{{ challenge.title }}</h5>
          <p class="card-text text-white">{{ challenge.description }}</p>
          {% if user.is_authenticated %}
          <!-- @Colin: Not sure if join challenge is right. I think users just log them via account page?-->
          {% else %}
          <p><a href="{% url 'Eco:login' %}" class="btn btn-primary">Join Challenge</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Points: {{ challenge.point_value }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>No challenges found.</p>
    {% endfor %}
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'images/Leaf.jpg' %}" class="img-fluid w-100" alt="Leaf Image">
      </div>
      <div class="col-md-8">
        <div class="card-body text-white">
            <h5 class="card-title">Do you have a great idea for our next Eco Challenge? </h5>
            <p class="card-text">Don't keep it to yourself - let us know!<br />
            {% if user.is_authenticated %}
            <p><a href="#" class="btn btn-primary">Suggest Challenge</a></p>
              <!-- @Colin: I think this should take logged in users to the relevant part of their account page, so they can suggest
                    the new challenge from there?-->
            {% else %}
            <p><a href="{% url 'Eco:login' %}" class="btn btn-primary">Suggest Challenge</a></p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}