{% extends 'Eco/base.html' %}
{% load static %}
{% block title_block %}
Challenges Page
{% endblock %}
{% block body_block %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Challenges</h1>
    <p class="lead">Browse or search below to take on a new challenge.</p>

    <form method="GET" action="{% url 'Eco:Challenges' %}">
      <div class="input-group" style="max-width: 400px;">
        <input type="text" name="q"
          class="form-control form-control-sm bg-dark text-white border-success rounded-pill px-3"
          placeholder="Search for a keyword or phrase" style="color: white" value="{{ query }}"> &nbsp;&nbsp;
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-success btn-sm rounded-pill px-3">Search Challenges</button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for challenge in challenges %}
    <div class="col-md-6 mb-1">
      <div class="card mb-1 bg-success bg-opacity-25" style="height: 220px; transform: scale(0.75)">
        <div class="card-body text-white">
          <h5 class="card-title text-white">{{ challenge.title }}</h5>
          <p class="card-text text-white">{{ challenge.description }}</p>
          <p class="card-text text-white">Points: {{ challenge.point_value }}
            {% if user.is_authenticated %}
            {% if challenge in user_challenges %}
            <span class="float-end">
              <button class="btn btn-primary" id="challenge-{{ challenge.id }}" disabled>Completed</button>
            </span>
            {% else %}
            <span class="float-end">
              <button class="btn btn-primary log-challenge-btn" data-challenge-id="{{ challenge.id }}"
                data-log-url="{% url 'Eco:log_challenge' 0 %}">Log Challenge</button>
            </span>
            {% endif %}
          <p class="card-text text-white">Likes: <span id="likes-{{ challenge.id }}">{{ challenge.likes }}</span>
            <span class="float-end">
              <button class="btn btn-secondary like-challenge-btn" data-challenge-id="{{ challenge.id }}">Like</button>
          </p>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>No challenges found.</p>
    {% endfor %}
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead fs-4">Do you have a great idea for our next challenge?</p>
    {% if user.is_authenticated %}
    <p class="lead fs-6">Don't keep it to yourself. Let us know!</p>

    <form method="POST">
      {% csrf_token %}

      <div class="row mb-3">
        <label for="id_title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          {{ form.title }}
        </div>
      </div>

      <div class="row mb-3">
        <label for="id_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          {{ form.description }}
        </div>
      </div>

      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Point Value</legend>
        <div class="col-sm-10">
          {{ form.point_value }}
        </div>
      </fieldset>

      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Submit Challenge</button>
        </div>
      </div>
    </form>
    {% else %}
    <p class="lead fs-6">Don't keep it to yourself. <a href="{% url 'Eco:register' %}">Sign up</a>
      or <a href="{% url 'Eco:login' %}">login</a> and let us know!</p>
    {% endif %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.like-challenge-btn').click(function () {
      var challengeId = $(this).data('challenge-id');
      var button = $(this);
      $.post("{% url 'Eco:like_challenge' %}", {
        challenge_id: challengeId,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }, function (data) {
        if (data.success) {
          $('#likes-' + challengeId).text(data.likes);
          button.prop('disabled', true);
        } else {
          alert(data.message);
        }
      });
    });
  });
</script>

{% endblock %}