{% extends 'Eco/base.html' %}
{% load static %}

{% block title_block %}
Educational Links
{% endblock %}

{% block body_block %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Educational Links</h1>
      <p class="lead">Learn more about how you can make a difference every day</p>
    <div class="educational-links-list">
    {% for link in educational_links %}
    <div class="link-item">
        <h5>{{ link.title }}</h5>
        <p>{{ link.description }}</p>
        <p><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}