{% extends 'Eco/base.html' %}
{% load static %}

{% block title_block %}Homepage{% endblock %}

{% block body_block %}
<h1>Homepage</h1>
<div>
    {% if user.is_authenticated %}
    Welcome {{ user.username }}!
    {% else %}
    Get ready to make the world a better place!
    {% endif %}
    <br />
    <strong>{{ boldmessage }}</strong><br />

    <li><a href="{% url 'Eco:Challenges' %}">Challenges</a></li>
    <li><a href="{% url 'Eco:EducationalLinks' %}">EducationalLinks</a></li>

    {% if user.is_authenticated %}
    <!-- Show these links when the user is logged in -->
    <li><a href="{% url 'Eco:LeaderBoard' %}">LeaderBoard</a></li>
    {% endif %}
</div>
<div>
    <img src="{% static 'images/Leaf.jpg' %}" alt="Leaf picture" />
</div>
{% endblock %}