{% extends 'Eco/base.html' %}
{% load static %}

{% block title_block %}Homepage{% endblock %}

{% block body_block %}
<h1>Eco Challenge</h1>
<div>
    {% if user.is_authenticated %}
        Welcome {{ user.username }}!
    {% else %}
        Get ready to make the world a better place!
    {% endif %}
    <br />
    <ul>
        <li><a href="{% url 'Eco:Challenges' %}">Challenges</a></li>
        <li><a href="{% url 'Eco:Educational Links' %}">Educational Links</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'Eco:LeaderBoard' %}">LeaderBoard</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
