{% extends 'Eco/base.html' %}
{% load static %}
{% block title_block %}
LeaderBoard Page
{% endblock %}
{% block body_block %}
<h1 style="text-align: center;">Eco Champions</h1>

<div style="text-align: center;">
    <h2>Leaderboard</h2>

    <table class="table table-dark" style="margin: 0 auto; width: 50%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for rank, user, points in ranked_users %}
            <tr>
                <th scope="row">{{ rank }}</th>
                <td>{{ user.user.username }}</td>
                <td>{{ points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" style="text-align: center;">
        <select name="timeframe" onchange="this.form.submit()"
            style="font-size: 1.5em; padding: 0.5em; background-color: #228B22; color: white;">
            <option value="all" {% if timeframe == "all" %}selected{% endif %}>All Time</option>
            <option value="week" {% if timeframe == "week" %}selected{% endif %}>Past Week</option>
            <option value="month" {% if timeframe == "month" %}selected{% endif %}>Past Month</option>
            <option value="year" {% if timeframe == "year" %}selected{% endif %}>Past Year</option>
        </select>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.filter-btn').click(function () {
            var timeframe = $(this).data('timeframe');
            $.get("{% url 'Eco:LeaderBoard' %}", { timeframe: timeframe }, function (data) {
                $('#leaderboard-list').html(data);
            });
        });
    });
</script>

{% endblock %}