{% extends 'Eco/base.html' %}
{% load static %}
{% block title_block %}
LeaderBoard Page
{% endblock %}
{% block body_block %}
<h1>LeaderBoard Page</h1>

<div>
    <h2>Leaderboard</h2>
    <ul>
        {% for user in users %}
        <li>{{ user.user.username }} - {{ user.points }} points</li>
        {% endfor %}
    </ul>
</div>

<div>
    <button onclick="window.location.href='{% url 'Eco:LeaderBoard' %}?timeframe=all'">All time</button>
    <button onclick="window.location.href='{% url 'Eco:LeaderBoard' %}?timeframe=month'">Past Month</button>
    <button onclick="window.location.href='{% url 'Eco:LeaderBoard' %}?timeframe=year'">Past Year</button>
</div>

{% endblock %}