{% extends 'Eco/base.html' %}
{% load static %}
{% block title_block %}
LeaderBoard Page
{% endblock %}
{% block body_block %}
<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  
<h1 style="text-align: center;">Eco Champions</h1>

<div style="text-align: center;">
    <h2>Leaderboard</h2>

    <table class="leaderboard">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
              


            </tr>
        </thead>
        <tbody>
            {% for rank, user, points in ranked_users %}
            <tr>
                <td class="rank-emoji rank-{{ rank }}">{{ rank }}</td>
                <td>{{ user.user.username }}</td>
                <td>{{ points }}</td>
            </tr>
           
            {% endfor %}
        </tbody>
    </table>
    <form method="get" style="text-align: center;">
        <select name="timeframe" onchange="this.form.submit()">
            <option value="all" {% if timeframe == "all" %}selected{% endif %}>All Time</option>
            <option value="week" {% if timeframe == "week" %}selected{% endif %}>Past Week</option>
            <option value="month" {% if timeframe == "month" %}selected{% endif %}>Past Month</option>
            <option value="year" {% if timeframe == "year" %}selected{% endif %}>Past Year</option>
        </select>
    </form>
</div>

{% endblock %}