{% extends 'Eco/base.html' %}
{% load static %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        {% if registered %}
                        <strong>Thank you for registering!</strong>
                        <a href="{% url 'Eco:index' %}">Return to the homepage.</a><br />
                        {% else %}
                        <form id="user_form" method="post" action="{% url 'Eco:register' %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}

                            <div data-mdb-input-init class="form-outline mb-4">
                                {{ user_form.username.label_tag }}
                                {{ user_form.username }}
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                {{ user_form.email.label_tag }}
                                {{ user_form.email }}
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                {{ user_form.password.label_tag }}
                                {{ user_form.password }}
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                {{ profile_form.picture.label_tag }}
                                {{ profile_form.picture }}
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                <label class="form-check-label" for="form2Example3g">
                                    I agree to all statements in <a href="#!" class="text-body"><u>Terms of
                                            service</u></a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" name="submit" value="Register"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Already have an account? <a
                                    href="{% url 'Eco:login' %}" class="fw-bold text-body"><u>Login here</u></a></p>
                        </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}